* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
}

header{
    display: flex;
    flex-direction: center;
    align-items: center;
    background-color:#255EE9;
}

header > * {
    border: 2px solid black;
}

li{
    list-style: none
}