* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: center;
    align-items: center;
    background-color: #255EE9;
    color: #FFFFFF;
    padding: 1rem 3rem;
    justify-content: space-around;
}


ul {
    list-style: none;
    margin: 1rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: inline;
}

ul>li {
    padding: 0 2rem;
}

button {
    background-color: #FFFFFF;
    border: 2px transparent;
    padding: 0.8rem 1.3rem;
    border-radius: 30px;
    margin-right: 3rem;
}

.buttons {
    margin: 2rem auto;
    display: flex;
}


.black-button {
    background-color: #23272A;
    color: #FFFFFF;
    padding: 1rem 1rem;
    font-size: 1.3rem;
}

.white-button {
    font-size: 1.3rem;
    font-weight: 500;
}

.purle-button {
    font-size: 1.3rem;
    font-weight: 500;
    background-color: #7289d9;
    color: #FFFFFF;
}

.Jumbo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #255EE9;
    padding: 90px 240px;
}

h1 {
    font-size: 3rem;
    margin: 0 0 1rem;
}

p.intro {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 700;
}


.features {
    display: flex;
    justify-content: center;
    min-height: 500px;
    padding: 100px 150px;
    gap: 85px;
}

.inverted {
    display: flex;
    flex-direction: row-reverse;
    background-color: #f6f6f6;
}

.column {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    justify-content: center;
}

.typography {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.typography p {
    font-size: 1.5rem;
}

.image {
    display: flex;
    width: 450px;
    height: 350px;
    border-radius: 7px;
    background-color: #292841;
    flex-shrink: 0;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.centered {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.huge {
    flex-wrap: wrap;
    width: 850px;
    height: 450px;
    flex-direction: column;
    margin: 0 auto;
}
footer{
    padding: 2rem;
    background-color: #23272a;
}
.footer-row {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    justify-content: space-around;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

.nav-footer-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 0;
    align-items: start;
    justify-content: flex-start;
}

li.title {
    font-weight: bolder;
    color: #7289d9;
}

hr{
    margin: 2rem 2rem;
    border-color: #7289d9;
}

h3 {
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 0 auto;
    color: #7289d9;
}

section.end{
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem;
}
